<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>Photos</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script   src="http://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
		<script type="text/javascript">
			  window.fbAsyncInit = function() {
			    FB.init({
			      appId      : '160710104376078',
			      xfbml      : true,
			      version    : 'v2.7'
			    });
			  };

			  (function(d, s, id){
			     var js, fjs = d.getElementsByTagName(s)[0];
			     if (d.getElementById(id)) {return;}
			     js = d.createElement(s); js.id = id;
			     js.src = "//connect.facebook.net/en_US/sdk.js";
			     fjs.parentNode.insertBefore(js, fjs);
			   }(document, 'script', 'facebook-jssdk'));
			  document.getElementById('shareBtn').onclick = function() {
				  FB.ui({
				    method: 'share',
				    display: 'popup',
				    href: '' + document.URL,
				  }, function(response){});
				}
		</script>
	    <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
	    <!-- Navigation -->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		    	Photos
		    </div>
		  </div>
		</nav>
		{% block content %}
		{% endblock %}
		<center><button id="shareBtn" class="btn btn-success clearfix">Share</button></center>
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Footer</p>
                </div>
            </div>
        </footer>
    </div>
	</body>
</html>
